chroma_db/chroma.sqlite3
chroma_db/docstore.json
chroma_db/graph_store.json
chroma_db/image__vector_store.json
chroma_db/index_store.json
chroma_db/30e413cf-5885-4498-9686-0fb2eaf21ee5/data_level0.bin
chroma_db/30e413cf-5885-4498-9686-0fb2eaf21ee5/header.bin
chroma_db/30e413cf-5885-4498-9686-0fb2eaf21ee5/index_metadata.pickle
chroma_db/30e413cf-5885-4498-9686-0fb2eaf21ee5/length.bin
chroma_db/30e413cf-5885-4498-9686-0fb2eaf21ee5/link_lists.bin
local_cache/fast-multilingual-e5-large/config.json
local_cache/fast-multilingual-e5-large/model_optimized.onnx.data
local_cache/fast-multilingual-e5-large/model.onnx
local_cache/fast-multilingual-e5-large/ort_config.json
local_cache/fast-multilingual-e5-large/sentencepiece.bpe.model
local_cache/fast-multilingual-e5-large/special_tokens_map.json
local_cache/fast-multilingual-e5-large/tokenizer_config.json
local_cache/fast-multilingual-e5-large/tokenizer.json
oldData/.gitattributes
oldData/3cixty_cotedazur_events.csv
oldData/3cixty_cotedazur_places.csv
install-pyenv-win.ps1
.python-version
.gitattributes
